Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Werror
    - -Wno-error=unused-parameter
    - -Wno-error=unused-variable
    - -Wno-error=unused-but-set-variable
    - -fdiagnostics-color=always
    - -I/home/lgois/.local/src/OperatingSystem/Threads/include
    - -pthread
